server:
  service:
    type: ClusterIP

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

alertmanager:
  enabled: false

pushgateway:
  enabled: false

nodeExporter:
  enabled: true # Useful for node metrics

kubeStateMetrics:
  enabled: true # Useful for K8s metrics
